@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');
body{
    font-family: 'Public Sans', sans-serif !important; 
    background: #eaf1fb !important;
}
.section {
    width: 100%;
    float: left;
    border-radius: 5px;
    border: 1px solid #E7EBF0;
    border-color:#E7EBF0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header_sec {
    width: 100%;
    float: left;
    height: 60px;
    /* border-bottom: 1px solid #f5f5f5; */
    background: #fff;
    padding: 8px 17px 0px 17px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.logo {
    width: 167px;
}
.body_sec {
    width: 100%;
    float: left;
    height: auto !important;
    background: #fff;
    border-top: 1px solid #e1e1e2;
    padding: 25px 20px 50px 20px;
    /* margin-bottom: 30px; */
}

.body_sec span {
    /* display: inline-block; */
}

.MuiInputBase-formControl, .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}

.css-1k430x0-MuiButtonBase-root-MuiChip-root {
    font-family: 'Public Sans', sans-serif !important;
    font-size: 15px !important;
}

.add_checklist_here {
    background-color: #4D8DEA;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    width: 35%;
}
.email {
    background: #edc200 !important;
}
.add {
    background: #ff8c00;
}
.add, .email {
    color: #fff !important;
    width: 30%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5%;
    border: none;
}

.removeformfields {
    background: rgb(192, 53, 53);
    color: #fff !important;
    width: 45%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}
.submit {
    background: #0a93d5;
    color: #fff !important;
    width: 30%;
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.auto-label {
    font-size: 16px;;
}

.checklist-title {
    margin-left: -20px;
}

.css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}