@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');
body{
    font-family: 'Public Sans', sans-serif !important; 
    background: #f9f9f9 !important;
}
.section {
    width: 100%;
    float: left;
    border-radius: 5px;
    border: 1px solid #E7EBF0;
    border-color:#E7EBF0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header_sec {
    width: 100%;
    float: left;
    height: 60px;
    /* border-bottom: 1px solid #f5f5f5; */
    background: #fff;
    padding: 8px 17px 0px 17px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.logo {
    width: 167px;
}
.body_sec {
    width: 100%;
    float: left;
    height: 653px !important;
    background: rgba(77, 141, 234, 0.1);
    border-top: 1px solid #e1e1e2;
    padding: 25px 0px 20px 20px;
}

.body_sec span {
    /* display: inline-block; */
}

.body_sec span.new_folder {
    float: right;
    right: 20px;
    position: relative;
    cursor: pointer;
}

.list_row {
    width: 100%;
    float: left;
}

.folders {
    width: 25%;
    display: inline-block;
    border-radius: 3px;
    padding: 0 20px 20px 0px;
    /* margin-right: 3%; */
}

.folders_list {
    width: 100%;
    box-shadow: -2px 6px 10px 0 rgb(0 0 0 / 10%);
    border: 1px solid #E7EBF0;
    background: #fff;
    height: 225px;
    /* padding: 10px; */
    border-radius: 5px;
    position: relative;
    /* background-image: url('../images/doodle_grey_bg.png'); */
}

.folders:last-child {
    margin-right: 0px !important;
}

.list_row .folders .char_at {
    background: #4D8DEA;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translate(-50%, 0px);
}

.list_row .folders .folder_name {
    /* display: inline-block; */
    font-weight: 600;
    padding-left: 10px;
    padding-top: 35px;
    text-align: center;
    padding-right: 10px;
    width: 100%;
    float: left;
}

.name_of_folder {
    padding: 0 0 20px 0;
}

.date_icon {
    font-size: 14px;
    width: 50%;
    float: left;
}
.items_count {
    font-size: 15px;
    padding-bottom: 5px;
    width: 50%;
    float: left;
}

.three_dots {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.pagination {
    /* width: 100%; */
    float: right;
}
.pagination-margin {
    margin-right: 25px;
}
.pagination ul {
    /* margin-bottom: 0px; */
}
.page-number li:first-child, .page-number li:last-child{
    /* padding: 10px; */
}
.page-number li {
    display: inline-block;
    list-style: none;
}
.pagination li {
   
    border: 1px solid #4D8DEA;
    border-radius: 5px;
    margin-right: 4px;
    cursor: pointer;
    width: 40px;
    /* padding: 10px; */
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.page-number li.active {
    color: #fff;
    background: #4D8DEA;
}

.page-number li button {
    background: transparent;
    color: #333;
    cursor: pointer;
    font-size: 13px;
    outline: none;
    border: none;
}

/* .page-number li button:hover, .page-number li button:focus {
    color: #fff;
    background: #6469cF;
} */

.css-1x51dt5-MuiInputBase-input-MuiInput-input, .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    font-weight: 500 !important;
    font-size: 15px !important;
}
.MuiButton-root {
    height:38px;
    line-height: 38px !important;
    font-size: 15px !important;
    text-transform: capitalize !important;
    font-family: 'Public Sans', sans-serif !important;
  }
.MuiPaper-elevation {
    width: 100% !important;
}
.css-ghsjzk-MuiInputBase-root-MuiInput-root, .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root, .css-bdhsul-MuiTypography-root-MuiDialogTitle-root, .MuiInputLabel-formControl{
    font-family: 'Public Sans', sans-serif !important; 
    font-weight: 600 !important;
}

.css-cpgvjg-MuiSnackbar-root {
    top: 24px !important;
    left: auto !important;
    right: 24px !important;
    bottom: auto !important;
}
 .MuiPopover-root .MuiPaper-root {
    width: 10% !important;
}

.title {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 5px;
    font-size: 18px;
}

.edit_section {
    position: absolute;
    top:26px;
    right:7px;
    width:100px;
    height:50px;
    line-height: 46px;
    text-align: center;
    box-shadow: -2px 6px 10px 0 rgb(0 0 0 / 10%);
    border: 1px solid #E7EBF0;
    background: #fff;
    opacity: 0;
    transition: all .2s ease-in-out;
    border-radius: 5px;
}
.three_dots:hover .edit_section {
    opacity: 1;
    transition: all .2s ease-in-out;
}
.button-primary {
    background: #4D8DEA !important;
    color: #fff !important;
    border-radius: 50px !important;
    padding: 0px 25px !important;
}

.button-cancel {
    border-radius: 50px !important;
    padding: 0px 20px !important;
    background: #fff !important;
    border: 1px solid #E3E7EE !important;
    color: #787878 !important;
}
.css-bsqp9w-MuiSvgIcon-root {
    color: #fe4066 !important;
}

a:hover, a {
    color: var(--bs-body-color);
}

.folder-id {
    text-decoration: none;
}

.header {
    width:100%; float:left; height:70px; background:#f5f5f5;
}

.item-date {
    color: #5f6368;
    vertical-align: middle;
}

.folder-bottom {
    display: flex;
    position: absolute;
    bottom: 0px;
    /* justify-content: flex-end; */
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    background: #f5f5f5;
}

.border-icon {
    border: 1px solid #787878;
    border-radius: 3px;
    padding: 1px;
}
.icons {
    text-decoration: none !important;
}

.plus-add-folder {
    width: 30px;
    height: 30px;
}

  #checklist {
    width: 100%;
    background-color: #fff;
  }
  #checklist td, #checklist th {
    /* border: 1px solid #ddd; */
    padding: 20px;
  }
  #checklist tr.tbody {
    border-bottom: 1px solid #f2f2f2 !important;
    background-color: #fff;
  }
  #checklist tr:nth-child(even){background-color: rgba(77, 141, 234, 0.1);}
  
  #checklist tr:hover {background-color: rgba(77, 141, 234, 0.1);}
 
  #checklist th {
    padding: 20px;
    text-align: left;
    background-color: #4D8DEA;
    color: white;
  }

  #checklist th:first-child {
    border-top-left-radius: 8px;
  }
  #checklist th:last-child {
    border-top-right-radius: 8px;
  }
  .center-align {
    text-align: center !important;
  }

  .closed {
    color: #58D68D !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-image: url('../images/check_circle_black_24dp.svg');
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding-left: 28px;
    /* text-align: center; */
  }

  .inprogress {
    color: #FF5722 !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-image: url('../images/pending_black_24dp.svg');
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding-left: 28px;
    /* text-align: center; */
  }

  .others {
    color: #AD111A !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-image: url('../images/not_started_black_24dp.svg');
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    padding-left: 28px;
    /* text-align: center; */
  }

  .closedchecklist {
    /* background-color: rgba(77, 141, 234, 0.1) !important; */
  }

  .make-copy-enable {
    display: block;
  }

  
  .make-copy-disable {
    display: none;
  }

#action-parent {
    position: relative;
}
.action-items {
    display:none;
    position: absolute;
    top: 27px;
    right: 0px;
    width: 180px;
    padding: 12px 0px;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    -webkit-transition: opacity 0.218s;
    transition: opacity 0.218s;
    background: #fff;
    border-radius: 4px;
    color: #202124;
    /* -webkit-font-smoothing: antialiased; */
    font-size: .875rem;
    z-index: 999;
    list-style: none;
    text-align: left;

}
ul.action-items li {
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    color: #202124;
}
ul.action-items li:hover {
    background-color: #eee;
    border-color: #eee;
}
ul.action-items li a {
    text-decoration: none;
}
#action-parent:hover .action-items {
    display:block;
}

.checklistdetails {
     width: 100%;
    float: left;
    background: rgb(93, 173, 226,0.1);
    /* margin-top: 30px; */
    border: 1px solid #5DADE2;
    border-radius: 5px;
    padding: 15px 20px;
    height: 138px;
}

.tasklabel {
    padding-bottom: 6px;
    font-size: 15px;
    color: #202124;
    font-weight: 600;
    text-align: right;
}

.taskchecklistname {
    color: #5DADE2;
    font-weight: 600;
}

.progressdetail {
    /* margin-top: 30px; */
    border: 1px solid #97a4d9;
    background-color: #eff0fb;
    border-radius: 5px;
    padding: 20px 0px 20px 10px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.total-task {
    color: #fcb05d;
    font-weight: 600;
    background: rgb(252,176,93, 0.1);
    padding: 10px 8px;
    border-radius: 10px;
    border: 1px solid #fcb05d;
    font-size: 15px;
    width: 95%;
    float: left;
    text-align: center;
}

.pending-task {
    color: #f285aa;
    font-weight: 600;
    background: rgb(242,133,170, 0.1);
    padding: 10px 8px;
    border-radius: 10px;
    border: 1px solid #f285aa;
    font-size: 15px;
    width: 95%;
    float: left;
    text-align: center;
}
.completed-task {
    color: #8abe8c;
    font-weight: 600;
    background: rgb(138,190,140, 0.1);
    padding: 10px 8px;
    border-radius: 10px;
    border: 1px solid #8abe8c;
    font-size: 15px;
    width: 95%;
    float: left;
    text-align: center;
}

.progress-task {
    width: 25%;
    float: left;
}
.closed-chk {
    border-radius: 10px;
    background: #f44336;
    padding: 10px 8px;
    color: #fff;
    width: 95%;
    float: left;
    text-align: center;
}

.close-chk {
    border-radius: 10px;
    background: #555;
    padding: 10px 8px;
    color: #fff !important;
    width: 95%;
    float: left;
    text-align: center;
    text-decoration: none;
}

.view-percentage {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.view-percentage .css-eglki6-MuiLinearProgress-root {
    position: relative;
    overflow: hidden;
    display: block;
    height: 10px;
    z-index: 0;
    background-color: rgb(167, 202, 237);
    border-radius: 10px;
}

 .css-r40f8v-MuiTypography-root {
    font-weight: 600;
    font-family: 'Public Sans', sans-serif !important; 
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root, .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-family: 'Public Sans', sans-serif !important; 
    width: 175px;
    font-weight: 600 !important;
    font-size: 15px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    text-transform: capitalize;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10.5px 32px 10.5px 10.4px !important;
}
.css-6od3lo-MuiChip-label {
    font-weight: 600 !important;
}
..css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover {

}
.view-log {
    background: #4D8DEA;
    color: #fff !important;
    /* border: px solid #fff; */
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

#view-checklist-comments .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background: #f5f5f5;
}

#view-checklist-comments .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    padding: 16px 54px 16px 24px;
    font-size: 18px;
    font-weight: 600;
}

#view-checklist-comments .comments-close, #view-close-checklist .comments-close {
    position: absolute;
    top: 18px;
    right: 24px;
    cursor: pointer;
}

#view-checklist-comments .comments-list-bg {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#view-checklist-comments .char_at_comments {
    background: #4D8DEA;
    color: #fff;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}

#view-checklist-comments .commented-by {
    font-weight: 600;
}

#view-checklist-comments .comments {
    padding-left: 48px;
}


.loader {
    height: 100vh;
    /* background: #f5f5f5; */
    width: 100%;
    text-align: center;
  }
  
  .specific-load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .add_checklist {
    color: #4D8DEA !important;
    font-weight: 500;
    text-decoration: none;
    float: right;
    margin: 10px 0px 10px 10px;
    background: rgba(77, 141, 234, 0.1);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #4D8DEA;
  }

  .MuiDialogTitle-root {
    border-bottom: 1px solid #7373;
  }
  .MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
    padding-top: 20px;
  }
  .css-hlj6pa-MuiDialogActions-root {
    padding-right: 20px;
  }

  .chklist_padding {
    padding: 0px 20px 50px 20px !important;
  }

  .css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root {
    padding-top: 22px;
    font-family: 'Public Sans', sans-serif !important; 
  }
  .css-1il2pra-MuiChip-root {
    font-family: 'Public Sans', sans-serif !important; 
    font-size: 14px !important;
    cursor: pointer !important;
  }
 
  .allowed {
    cursor: pointer;
  }
  .not-allowed {
    pointer-events: none;
    background: #f7f7f7;
  }

  .upload-card {
    padding: 20px;
    border: 2px dashed #4D8DEA;
    overflow-x: hidden;
  }

  #add-comments {
    font-family: 'Public Sans', sans-serif !important; 
    font-size: 14px !important;
    height: 30px;
    font-weight: 500;
  }

  .css-1acvgar-MuiTypography-root, .css-13dyovk-MuiButtonBase-root-MuiButton-root, .MuiChip-label  {
    font-family: 'Public Sans', sans-serif !important; 
  }

  .css-1sasres {
    border: none !important
  }

  .post-comments {
    background: #4D8DEA;
    color: #fff !important;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
    border: none;
  }

  .filehidden {
    opacity: 0;
    margin-top: -79px;
    margin-left: 194px;
    z-index: 1;
    height: 35px;
  }

  .file-attachemnt {
    width: 100px;
    margin-top: 10px;
  }


  .wrapper-class {
    /* padding: 1rem; */
    border: 1px solid #ccc;
  }
  .editor-class {
    background-color:#fff;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }

  #view-close-checklist .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    background-color: #f5f5f5;
    max-width: 800px;
  }

  .table_show {
    display: block;
  }

  .table_hide {
    display: none;
  }

  .table_show table tr th {
    background-color: #ff5522;
  }

  .ck-content .table {
    display: inline !important;
  }

  .ck-widget__selection-handle {
    display: none !important;
  }

  .ck-content .table table th {
    font-size: 15px;
  }

  #textEdit {
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 33px;
    width: 85%;
    border: none;
    font-size: 15px;
    font-weight: 500;
    resize: none;
    border: none;
    outline: none;
  }

  .ck-content .table table{
    margin-top: 40px !important;
  }

  .css-1869usk-MuiFormControl-root {
    min-width: 150px !important;
  }

  .active, .activeLink {
    background-color: #4D8DEA;
    color: #fff;
  }

  ul.pagination li a {
    text-decoration: none;
  }
  .MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
    position: relative;
  }