.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  width: 100%;
  max-width: 98% !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.box {
  position:relative; /* this one is new - used to contain absolute elements */
  width: 319px;
  height: 310px;
  background-color: #f9f9f9;
  overflow:hidden;
  position: absolute;
  z-index: -1;
}

div.box:after {
  content: "";
  position: absolute;
  margin: -360px;
  width: 600px;
  height: 600px;
  transform: rotate(45deg);
  background-color: #9a71cc;
  /* z-index: 1; */
}

div.box1 {
  position:relative; /* this one is new - used to contain absolute elements */
  width: 319px;
  height: 310px;
  background-color: #f9f9f9;
  overflow:hidden;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

div.box1:after {
  content: "";
  position: absolute;
  margin: 70px;
    width: 600px;
    height: 600px;
  transform: rotate(45deg);
  background-color: #9a71cc;
  /* z-index: 1; */
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 8px !important;
  padding-bottom: 15px;
}
